<div class="bg-white p-3 rounded d-flex flex-column align-items-center border">
  <img class="my-5" src="images/image-1.png" alt="car" width="245" height="135">
  <div class="d-flex flex-column" style="width: 100%;">
    <span style="font-size: 14px;">Nama/Tipe Mobil</span>
    <span class="fw-bold mt-2" style="font-size: 16px;">Rp 430.000 / hari</span>
    <div class="d-flex">
      <img src="images/fi_key.svg" alt="key">
      <span class="mt-2 ms-2" style="font-size: 14px;">Start rent - Finish rent</span>
    </div>
    <div class="d-flex">
      <img src="images/fi_clock.svg" alt="date">
      <span class="mt-2 ms-2" style="font-size: 14px;">Updated at 4 Apr 2022, 09.00</span>
    </div>
    <div class="d-flex justify-content-between mt-4">
      <a href="/delete" class="btn btn-lg btn-outline-danger w-50 me-2">
        <img src="images/fi_trash-2.svg" alt="trash" srcset="">
        <span class="fw-bold ms-1" style="font-size: 14px;">Delete</span>
      </a>
      <a href="/edit" class="btn btn-lg btn-success w-50 ms-2">
        <img src="images/fi_edit.svg" alt="edit" srcset="">
        <span class="fw-bold ms-1" style="font-size: 14px;">Edit</span>
      </a>
    </div>
  </div>
</div>