<div class="modal fade" id="exampleModal<%= car.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content"> 
      <div class="modal-body text-center">
        <img class="my-3" src="images/img-BeepBeep.png" alt="mobil" srcset="">
        <h3>Menghapus Data Mobil</h3>
        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <form action="/car/delete/<%= car.id %>" method="post">
          <button type="submit" class="btn btn-primary" style="width: 87px;">Ya</button>
        </form>
        <button type="button" class="btn btn-outline-primary" style="width: 87px;" data-bs-dismiss="modal">Tidak</button>
      </div>
    </div>
  </div>
</div>
