<nav class="navbar sticky-top navbar-light bg-white shadow-sm px-2">
  <div class="container-fluid">
    <a href="#">
      <img src="images/fi_menu.svg" alt="" width="30" height="24">
    </a>
    <div class="d-flex">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary fw-bold" type="submit">Search</button>
      </form>
      <div class="ms-4">
        <img src="images/user.svg" alt="user" sizes="24">
        <span>Uciha Udin</span>
        <img src="images/fi_chevron-down.svg" alt="dropdown">
      </div>
    </div>
  </div>
</nav>